@layer theme, base, mantine, mantine-datatable, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.layer.css";
@import "mantine-datatable/styles.layer.css";


@theme {
    --font-mono: "Ubuntu Sans Mono Variable", monospace;
}

@utility brutal-filter {
    @apply bg-white;
    filter: drop-shadow(4px 4px 0px #000);
}

@utility brutal-filter-md {
    @apply brutal-filter
}

@utility brutal-filter-sm {
    @apply bg-white;
    filter: drop-shadow(2px 2px 0px #000);
}

@utility brutal-filter-none {
    @apply bg-white;
    filter: drop-shadow(0px 0px 0px #000);
}

@utility brutal {
    @apply border-2 border-solid border-black transition-all duration-200 ease-in-out;
}

@utility brutal-lg {
    @apply border-4;
}

@layer components {
    .brutal-card {
        @apply bg-white brutal-lg brutal-filter;
    }

    .brutal-dialog {
        @apply bg-white brutal-lg brutal-filter;
    }

    .brutal-navbar {
        @apply bg-white brutal-lg my-1 ml-1 brutal-filter;
        height: calc(100dvh - var(--spacing) * 3);
        border-radius: var(--mantine-radius-default);
        border-inline-end: 4px solid black !important;
    }

    .brutal-nav-link:not([data-active="true"]) {
        @apply outline-2 outline-transparent text-black transition-all duration-200 ease-in-out;
        border-radius: var(--mantine-radius-default);

        &:hover:not(.no-animation) {
            @apply outline-black outline-offset-2;
        }
    }
    .brutal-nav-link[data-active="true"] {
        @apply bg-white outline-2 outline-black outline-offset-2 text-black transition-all duration-200 ease-in-out;
        border-radius: var(--mantine-radius-default);
    }

    .brutal-input {
        @apply bg-white brutal brutal-filter-none;

        &:focus {
            @apply brutal-filter-sm;
        }
    }

    .brutal-checkbox {
        @apply brutal;

        &:checked {
            @apply brutal-filter-sm;
        }

        &:checked + svg {
            @apply text-black;
        }
    }

    .brutal-button {
        @apply text-black bg-white brutal brutal-filter-sm;

        &:hover {
            @apply brutal-filter-none;
        }
    }

    .brutal-button-inverted {
        @apply text-black bg-white brutal brutal-filter-none;

        &:hover {
            @apply brutal-filter-sm;
        }
    }

    .brutal-table[data-with-table-border="true"] {
        @apply brutal;

        & th, & td {
            @apply brutal;
        }
    }

    .brutal-table-row[data-with-row-border="true"] {
        @apply border-b-2 border-solid border-black;

        &:last-child {
            @apply border-b-0;

            & .brutal-table-cell[data-with-column-border="true"] {
                @apply border-b-0;
            }
        }
    }

    .brutal-table-cell[data-with-column-border="true"] {
        @apply border-b-2 border-r-2 border-solid border-black;

        &:last-child {
            @apply border-r-0;
        }
    }

    .brutal-table-heading[data-with-column-border="true"] {
        @apply border-b-2 border-r-2 border-solid border-black;

        &:last-child {
            @apply border-r-0;
        }
    }

    .brutal-popover {
        @apply brutal shadow-none brutal-filter-sm;
    }

    .brutal-popover-arrow {
        @apply brutal!;
    }

    .brutal-pagination-control {
        @apply brutal brutal-filter-sm text-black;

        &:hover, &[data-active="true"] {
            @apply brutal-filter-none;
        }
    }

    .mantine-datatable-pagination {
        border-top: none;
    }
}